body {
    background-color: #EFF0E9;
}

.quote {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 40px;
    display: flex;
    color: #124A57;
}

.logo {
    margin-right: auto;
    margin-left: 1%;
    margin-top: -150px;
    float: left;
}

h3 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
}

#content {
    justify-content: flex-start;
    top: 100px;
}

.nav {
    font-family: 'Nunito';
    font-style: semi-bold;
    font-size: 18px;
    display: flex;
    color: #373435;
    position: absolute;
    right: 2%;
    top: 100px;
    word-spacing: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav li {
    display: inline;
}

h2 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 36px;
    color: #373435;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#bar {
    justify-content: flex-end;
}

.flexContainer {
    display: flex;
    flex: 33% 33% 33%;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.flexContainer div {
    margin: 25px;
}

#skills {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    display: flex;
    color: #373435;
    position: absolute;
    top: 410px;
}

.myTools {
    align-items: center;
    justify-content: center;
}

#tools {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
}

#toolss {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    display: flex;
    color: #373435;
}

.button {
    background-color: #124A57;
    border: none;
    border-radius: 20px;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Bree Serif';
    color: #EFF0E9;
    cursor: pointer;
}

#design {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: absolute;
    top: 625px;
    right: 2%;
}

.footer {
    display:inline-block;
    position: absolute;
    right: 5%;
    top: 790px;
}

@media only screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
    }
}