body {
    background-color: #EFF0E9;
}

.quote {
    font-family: 'Nunito';
    font-style: normal;
    font-size: 38px;
    color: #124A57;
    margin-left: 1%;
}
h3 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 24px;
    color: #373435;
}

#content {
    justify-content: flex-start;
    top: 100px;
}

.nav {
    font-family: 'Nunito';
    font-style: semi-bold;
    font-size: 18px;
    display: flex;
    color: #373435;
    position: absolute;
    top: 100px;
    right: 2%;
    word-spacing: 30px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

.nav li {
    display: inline;
}

h2 {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 36px;
    color: #373435;
    text-align: left;
    margin: 25px;
}

p {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
}

#bar {
    justify-content: flex-end;
}

.flexContainer {
    display: flex;
    flex: 33% 33% 33%;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}

.flexContainer2 {
    display: flex;
    flex: 50% 50%;
    align-items: left;
    justify-content: left;
    flex-direction: row;
}

.flexContainer div {
    margin: 15px;
}

hr {
    color: #F0A202;
    width: 500px;
}

.myTools {
    align-items: center;
    justify-content: center;
}

.skills {
    font-family: 'Bree Serif';
    font-style: normal;
    font-size: 20px;
    color: #373435;
}

#design {
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    position: absolute;
    top: 750px;
    right: 2%;
}

.footer {
    display:inline-block;
    position: absolute;
    right: 5%;
    top: 950px;
}

@media only screen and (max-width: 600) {
    .flexContainer {
        flex-direction: column;
    }
}